fastapi
uvicorn
psycopg2-binary
pydantic
sqlalchemy
alembic
google-auth
requests
google-cloud-aiplatform
google-genai
google-cloud-secret-manager
google-cloud-storage
python-multipart
python-pptx
openpyxl 